<div class="button-container">
   <div class="card mb-3" style="width: 35rem; margin-left: auto">
    <%= simple_form_for [@building, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :comment %>
      <div class="center-submit">
        <%= f.submit class: "btn bookings-button", style:"width: 35%"%>
      </div>
    <% end %>
  </div>
  <div class="card mb-3" style="width: 35rem; margin-left: 60px; margin-right: auto">
     <%= cl_image_tag @building.photos[0].key, height: 300, width: 400 %>
  </div>
</div>
