
<div class = "container d-flex justify-content-center">
  <div class = "text-center" >
  <h1>Profile</h1>
  <p>Email address: <%= @user.email %></p>
  <p>First name: <%= @user.first_name %></p>
  <p>Last name: <%= @user.last_name %></p>

  <div>
    <strong><p>User profile photo:</p></strong>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "mb-4"%>
  </div>
  <div>
    <%= link_to "edit personal information", edit_user_registration_path(@user.id), class: "btn btn-primary"%>
  </div>
</div>
</div>
