<%= render "pages/navbar" %>
<%= render "pages/banner" %>
<%= render "pages/cards-home" %>
<%= render "pages/footer" %>


<%= link_to "Buildings", buildings_path() %>
<p><button type="button" class="btn btn-success">Success</button></p>

