<h1>Show Page</h1>

<p>Address: <%= @building.address %></p>
<p>name: <%= @building.name %></p>
<p>beds: <%= @building.beds %></p>
<p>price: <%= @building.price %></p>
<p>availability: <%= @building.availability %></p>

