<br>
<div>
  <div class="col-7">
    <div class="booking-card">

      <h1>The <%= @building.name.titleize %></h1>
      <p>Address: <%= @building.address %></p>
      <p>Beds: <%= @building.beds %></p>
      <p>Price: <%= @building.price %></p>
      <p>Next availabile from: <%= @building.availability %></p>

      <%= cl_image_tag @building.photos[0].key, height: 300, width: 400, crop: :fill %>
    </div>
    <br>
    <div class="button-container">
      <%= link_to "Book Today", new_building_booking_path(@building), class: "bookings-button", style:"width: 75%" %>
    </div>
  </div>

  <div class="col-5">
    <%# <img src="assets/images/Paris.png"> PLCAE HOLDER FOR IMAGE OR REVIEWS %>
  </div>
</div>
