<br>
<div>
  <div class="col-7">
    <div class="booking-card">

      <h1>The <%= @building.name.titleize %></h1>
      <p>Address: <%= @building.address %></p>
      <p>Beds: <%= @building.beds %></p>
      <p>Price: <%= @building.price %></p>
      <p>Next availabile from: <%= @building.availability %></p>
      <p>Description: <%= @building.description %></p>
      
      <%= cl_image_tag @building.photos[0].key, height: 300, width: 400, crop: :fill %>

      <%# MULTI PHTOS SECTION VIA CLOUDINARY ================================================================================= %>

      <% @buildings.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>

      <%# ================================================================================= %>

      <%= link_to "Book Today", new_building_booking_path(@building) %>
    </div>
    <br>
    <div class="button-container">
      <%= link_to "Book Today", new_building_booking_path(@building), class: "bookings-button", style:"width: 75%" %>
    </div>
  </div>

  <div class="col-5">
    <%# <img src="assets/images/Paris.png"> PLCAE HOLDER FOR IMAGE OR REVIEWS %>
  </div>
</div>


<%# REVIEW SECTION ================================================================================= %>
<p><strong>Reviews</strong></p>
<ul class="list-group">


<% @building.reviews.each do |review| %>
  <%= review.content %>
  <%= link_to "Destroy", review, data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %>
<% end %>


  <h1>New review</h1>
  <%= simple_form_for ([@building, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</ul>
